In [7]:
import pandas as pd
import numpy as np

data = pd.read_csv('../Data/DataCoSupplyChainDataset_Original.csv',encoding=('ISO-8859-1'))
data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.750000,0,1/15/2018 11:24,Standard Class
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 3:40,Standard Class
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 1:34,Second Class
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/20/2016 21:00,Standard Class
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/18/2016 20:18,Standard Class
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,NaN,1004,45,NaN,http://images.acmesports.sports/Field+%26+Stre...,Field & Stream Sportsman 16 Gun Fire Safe,399.980011,0,1/19/2016 18:54,Standard Class

In [8]:
data.dtypes

Type                              object
Days for shipping (real)           int64
Days for shipment (scheduled)      int64
Benefit per order                float64
Sales per customer               float64
Delivery Status                   object
Late_delivery_risk                 int64
Category Id                        int64
Category Name                     object
Customer City                     object
Customer Country                  object
Customer Email                    object
Customer Fname                    object
Customer Id                        int64
Customer Lname                    object
Customer Password                 object
Customer Segment                  object
Customer State                    object
Customer Street                   object
Customer Zipcode                 float64
Department Id                      int64
Department Name                   object
Latitude                         float64
Longitude                        float64
Market                            object
Order City                        object
Order Country                     object
Order Customer Id                  int64
order date (DateOrders)           object
Order Id                           int64
Order Item Cardprod Id             int64
Order Item Discount              float64
Order Item Discount Rate         float64
Order Item Id                      int64
Order Item Product Price         float64
Order Item Profit Ratio          float64
Order Item Quantity                int64
Sales                            float64
Order Item Total                 float64
Order Profit Per Order           float64
Order Region                      object
Order State                       object
Order Status                      object
Order Zipcode                    float64
Product Card Id                    int64
Product Category Id                int64
Product Description              float64
Product Image                     object
Product Name                      object
Product Price                    float64
Product Status                     int64
shipping date (DateOrders)        object
Shipping Mode                     object
dtype: object

Xử lý kiểu dữ liệu cột order date (DateOrders) và cột shipping date (DateOrders)

In [9]:
data['order date (DateOrders)'] =  pd.to_datetime(data['order date (DateOrders)'])
data['shipping date (DateOrders)'] =  pd.to_datetime(data['shipping date (DateOrders)'])

In [10]:
n = len(data)
for i in range(n):
    order_date = data.loc[i, 'order date (DateOrders)'].date()
    data.loc[i, 'order date (DateOrders)'] = order_date
    
    shipping_date = data.loc[i, 'shipping date (DateOrders)'].date()
    data.loc[i, 'shipping date (DateOrders)'] = shipping_date

Tạo file Location.csv

In [ ]:
n = len(data)
lst = []
for i in range(n):
    unique_val = data.loc[i, ['Market', 'Order City', 'Order Country', 'Order Region', 'Order State']]
    unique_val_list = unique_val.tolist()
    if len(lst) ==0:
        lst.append(unique_val_list)
    else:
        if unique_val_list not in lst:
            lst.append(unique_val_list)
lst.head()

In [51]:
df = pd.DataFrame(lst, columns = ['Market','Order City','Order Country', 'Order Region', 'Order State'])
df['LocationID'] = range(1, len(df) + 1)

In [52]:
path='D:\\SV3_2\\Data warehouse\\Project\\Nhom10_DAWH430784_22_2_02\\Project\\Data'
csv_data = df.to_csv(path+'Location.csv')

In [3]:
data_location = pd.read_csv('Location.csv', encoding=('ISO-8859-1'))
data_location.head()

,Market,Order City,Order Country,Order Region,Order State,LocationID
0,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,1
1,Pacific Asia,Bikaner,India,South Asia,RajastÃ¡n,2
2,Pacific Asia,Townsville,Australia,Oceania,Queensland,3
3,Pacific Asia,Toowoomba,Australia,Oceania,Queensland,4
4,Pacific Asia,Guangzhou,China,Eastern Asia,Guangdong,5